In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
loan=pd.read_csv("E:\\New folder\\loan.csv")

In [3]:
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [38]:
loan.isnull().sum()

Loan_ID            0
Gender             0
Married            0
Dependents         0
Education          0
Self_Employed      0
ApplicantIncome    0
LoanAmount         0
Credit_History     0
Property_Area      0
Loan_Status        0
dtype: int64

In [39]:
# Removing null values
loan['LoanAmount'].fillna(loan['LoanAmount'].mean(), inplace=True)
loan['Self_Employed'].fillna('No', inplace=True)
loan['Loan_Amount_Term'].fillna(loan['Loan_Amount_Term'].mean(),inplace=True)
loan['Credit_History'].fillna(1,inplace=True)
loan['Married'].fillna('Yes',inplace=True)
loan['Gender'].fillna('Male',inplace=True)
loan['Dependents'].fillna('0',inplace=True)
loan['TotalIncome'] = loan['ApplicantIncome'] + loan['CoapplicantIncome']
loan['TotalIncome_log'] = np.log(loan['TotalIncome'])

KeyError: 'Loan_Amount_Term'

In [40]:
loan.isnull().sum()

Loan_ID            0
Gender             0
Married            0
Dependents         0
Education          0
Self_Employed      0
ApplicantIncome    0
LoanAmount         0
Credit_History     0
Property_Area      0
Loan_Status        0
dtype: int64

In [41]:
print(loan.shape)
print(loan.info())

(614, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 11 columns):
Loan_ID            614 non-null object
Gender             614 non-null object
Married            614 non-null object
Dependents         614 non-null object
Education          614 non-null object
Self_Employed      614 non-null object
ApplicantIncome    614 non-null int64
LoanAmount         614 non-null float64
Credit_History     614 non-null float64
Property_Area      614 non-null object
Loan_Status        614 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 52.8+ KB
None

In [42]:
# dropping variables
loans=loan.drop('Loan_ID',axis=1) 
X = loan.drop('Loan_Status',1) 
loan = loan.drop(['TotalIncome_log', 'CoapplicantIncome', 'Loan_Amount_Term', 'TotalIncome_log', 'TotalIncome'], axis=1)

KeyError: "['TotalIncome_log' 'CoapplicantIncome' 'Loan_Amount_Term'\n 'TotalIncome_log' 'TotalIncome'] not found in axis"

In [43]:
## statistics
# Measures of central tendency (mean, median and mode)

In [44]:
loan.mean()
loan.mean(axis = 1)[0:5]

0    1998.804054
1    1570.666667
2    1022.333333
3     901.333333
4    2047.333333
dtype: float64

In [45]:
loan.median()
loan.median(axis = 1)[0:5]

0    146.412162
1    128.000000
2     66.000000
3    120.000000
4    141.000000
dtype: float64

In [46]:
loan.mode(axis=0)[0:1]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,Yes,0,Graduate,No,2500.0,146.412162,1.0,Semiurban,Y

In [47]:
# measure of dispersion standard deviation,variance,Skew and IQR

In [48]:
loan.std()
loan.std(axis = 1)[0:5]

0    3335.160085
1    2609.529907
2    1713.017902
3    1457.580987
4    3423.825395
dtype: float64

In [49]:
loan.var()
loan.var(axis=1)[0:5]

0    1.112329e+07
1    6.809646e+06
2    2.934430e+06
3    2.124542e+06
4    1.172258e+07
dtype: float64

In [50]:
print(loan.skew())

ApplicantIncome    6.539513
LoanAmount         2.726601
Credit_History    -2.021971
dtype: float64

In [51]:
loan.describe()
loan.describe(include='all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Credit_History,Property_Area,Loan_Status
count,614,614,614,614,614,614,614.000000,614.000000,614.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,3,2
top,LP001666,Male,Yes,0,Graduate,No,NaN,NaN,NaN,Semiurban,Y
freq,1,502,401,360,480,532,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,146.412162,0.855049,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,84.037468,0.352339,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,9.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,100.250000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,129.000000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,164.750000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,700.000000,1.000000,NaN,NaN

In [52]:
from scipy.stats import iqr
iqr(loan['LoanAmount'])

64.5